# Unless otherwise specified all unsorted RFCs will be reviewed by rfc-approvers
# and the RFC editorial team 
* @rfc-approvers @rfc-editors

/sig-architecture/ @Planctae/sig-architecture-approvers @Planctae/rfc-editors
/sig-network/ @Planctae/sig-network-approvers @Planctae/rfc-editors
/sig-node/ @Planctae/sig-node-approvers @Planctae/rfc-editors
/sig-release/ @Planctae/sig-release-approvers @Planctae/rfc-editors
/sig-storage/ @Planctae/sig-storage-approvers @Planctae/rfc-editors
/wg-resrouce-management/ @Planctae/sig-node-approvers @Planctae/sig-storage-approvers @Planctae/rfc-editors
